<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>New user? Sign up!!</h2>
        <form action="/signup" method="POST">
            <input required type="text" name="userName" placeholder="Username">
            <input required type="password" name="password" placeholder="***********" minlength="6">
            <input required type="submit">
        </form>
    </section>
    <section>
        <h2>Already a user? Log in</h2>
        <form action="/signin" method="POST">
            <input required type="text" name="userName" placeholder="Username">
            <input required type="password" name="password" placeholder="***********" minlength="6">
            <input required type="submit">
    
        </form>

    </section>
</body>
</html>