<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Animes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles/main.css" />
</head>

<body>
    <%- include('../layouts/nav') %>
    <main>
        <div class="container text-center">
            <h2>Random Anime Generator</h2>
            <p>Click the generate button to randomly choose a anime from the top list.</p>
        </div>
        <section class="generated-anime">
            <form action="" class="anime">
                <button type="submit" disabled>

                    <img id="random-img" src="./images/random.jpg" alt="random.jpg" />
                </button>
            </form>
            <div class="rightRandom">
                <h2 class="title"></h2>
                <p class="episodes"></p>
                <p class="rating"></p>
            </div>
            <button class="generate-anime btn">Generate</button>
        </section>
    </main>
    <%- include('../layouts/notification') %>
    <%- include('../layouts/footer') %>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./js/getRandom.js"></script>

</html>
