<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Random Animes</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="../styles/main.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <a href="/" class="logo">
                    <h1>anime</h1>
                </a>
                <nav class="d-flex justify-between">
                    <ul class="nav-links d-flex ul-none">
                        <li><a href="/">Home</a></li>
                        <li><a href="/random">Random Anime</a></li>
                        <li><a href="/search">Search</a></li>
                        <% if (localStorage.getItem("userid")!==null) { %>

                        <li><a href="/user_list">your list</a></li>
                        <li><a href="/logout">log out</a></li>
                        <% }else{ %>

                        <li><a href="/login">login</a></li>
                        <%} %>
                    </ul>
                    <form class="d-flex align-center">
                        <input type="text" placeholder="search" />
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </nav>
            </div>
        </header>
        <main>
            <section class="generated-anime">
                <form action="" class="anime">
                    <button type="submit" disabled>

                        <img
                            id="random-img"
                            src="./images/random.jpg"
                            alt="random.jpg"
                        />
                        <h2 class="title"></h2>
                    </button>
                </form>
                <button class="generate-anime btn">generate</button>
            </section>
        </main>
        <footer>
            <div class="container">
                <section class="d-flex">
                    <div class="follow-us">
                        <h3>Follow us! <i class="fa fa-linkedin"></i></h3>
                        <ul class="ul-none">
                            <li>
                                <a
                                    href="https://www.linkedin.com/in/mohammad-eshtaiwi/"
                                >
                                    Mohammad Eshtaiwi
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.linkedin.com/in/bayan-alalem-4a7768184"
                                >
                                    Bayan Alalem
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.linkedin.com/in/mohammad-eshtaiwi/"
                                >
                                    Ahmad Yousef
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.linkedin.com/in/mohammad-eshtaiwi/"
                                >
                                    Dina Alsaid
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="about-us">
                        <h3>Lorem, ipsum dolor.</h3>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Cum sapiente deleniti perferendis corporis
                            maxime iste eos minus. Eveniet laudantium odit
                            sapiente consequuntur mollitia commodi explicabo.
                            Culpa unde nesciunt minima eos?
                        </p>
                    </div>
                </section>
                <section class="text-center powered-by">
                    powered by
                    <a href="https://github.com/Four-Horsemen-Of-Development"
                        >Four Horsemen Of Development</a
                    >
                </section>
            </div>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./js/getRandom.js"></script>
</html>
