<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script id="anime-template" type='text/x-tmpl-mustache'>
        <section>
          <h2>{{title}}</h2>
          <img src="{{image_url}}">
        </section>
      </script>
</head>

<body>
    <main>
        <h2>Search</h2>
        <form id="searchForm">
            <input required type="text" id="searchQuery" name="searchQuery">
            <select name="genre" id="genre">
                <option value="">Choose Category</option>
                <option value="&genre=1">Action</option>
                <option value="&genre=7">Mystery</option>
                <option value="&genre=8">Drama</option>
                <option value="&genre=10">Fantasy</option>
                <option value="&genre=14">Horror</option>
            </select>
            <select name="rated" id="rated">
                <option value="">Choose rated</option>
                <option value="&rated=g">All Ages</option>
                <option value="&rated=pg">Children</option>
                <option value="&rated=pg13">Teens</option>
                <option value="&rated=r17">Violence</option>
            </select>
            <select name="status" id="status">
                <option value="">Choose status</option>
                <option value="&status=airing">Airing</option>
                <option value="&status=completed">Completed</option>
                <option value="&status=upcoming">Upcoming</option>
            </select>
            <button id="searchButton" type="submit">Submit</button>
        </form>


        <section id="searchResults">
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./js/getSearch.js"></script>
</body>

</html>