body{
    background-image: url('https://i.pinimg.com/originals/48/f3/f8/48f3f8398d3e951b66248848e2f5d0d2.jpg');
    background-color: #2c204873;
    background-size: cover;
    background-repeat: no-repeat;
}