/* Search Form */
.inlineBlock{
    display: inline-block;
}
.searchOptionsGrid{
    display: grid;
    grid-column: 1;    
    gap: 15px;
    width: 50%;
}

#searchForm{
    box-sizing: border-box;
    padding: 8%;
    margin: 0 auto;
}
.fullWidth{
    width: 97%;
    box-sizing: border-box;
}

.thirds{
    width: 31.5%;
}
option,select,button#searchButton{
    box-sizing: border-box;
    background-color: #E85D6F;
    padding: 5px;
    border: none;
    border: 1px solid #b990c9;
}
option{
    background-color: #d4d4d4;
 
}

button:not(#searchButton) ,button:not(#searchButton) img{
    border-radius: 15px;
    background-color: #ebbefc0c;
}
.feature{
    padding: 70px 60px;
    background-color: #ebbefc;
    flex-grow: 1;
    margin: 0 1%;
    flex-basis: 50%;
}
.tabs{
    display: inline-block;
    width:max-content;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.tabs:hover{
    color: white;
}
.active{
    border: 1px solid black;
}